# Organizing Tabular Data in Python

In [6]:
import pandas as pd

### Declare variable `houses_rowwise`

In [7]:
# Declare variable `houses_rowwise`
houses_rowwise = [
    {
        "price_approx_usd": 115910.26,
        "surface_covered_in_m2": 128,
        "rooms": 4,
    },
    {
        "price_approx_usd": 48718.17,
        "surface_covered_in_m2": 210,
        "rooms": 3,
    },
    {
        "price_approx_usd": 28977.56,
        "surface_covered_in_m2": 58,
        "rooms": 2,
    },
    {
        "price_approx_usd": 36932.27,
        "surface_covered_in_m2": 79,
        "rooms": 3,
    },
    {
        "price_approx_usd": 83903.51,
        "surface_covered_in_m2": 111,
        "rooms": 3,
    },
]

# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

In [8]:
# Create for loop to iterate through `houses_rowwise`
# For each observation, add "price_per_m2" key-value pair
# Print `houses_rowwise` object type
print("houses_rowwise type:", type(houses_rowwise))

# Print `houses_rowwise` length
print("houses_rowwise length:", len(houses_rowwise))

# Get output of `houses_rowwise`
houses_rowwise

houses_rowwise type: <class 'list'>
houses_rowwise length: 5

[{'price_approx_usd': 115910.26, 'surface_covered_in_m2': 128, 'rooms': 4},
 {'price_approx_usd': 48718.17, 'surface_covered_in_m2': 210, 'rooms': 3},
 {'price_approx_usd': 28977.56, 'surface_covered_in_m2': 58, 'rooms': 2},
 {'price_approx_usd': 36932.27, 'surface_covered_in_m2': 79, 'rooms': 3},
 {'price_approx_usd': 83903.51, 'surface_covered_in_m2': 111, 'rooms': 3}]

### Mean house price

In [9]:
# Declare `house_prices` as empty list
house_prices = []
# Iterate through `houses_rowwise`

    # For each house, append "price_approx_usd" to `house_prices`
for house in houses_rowwise:
    house_prices.append(house["price_approx_usd"])

# Calculate `mean_house_price` using `house_prices`
mean_house_price = sum(house_prices) / len(house_prices)

# Print `mean_house_price` object type
print("mean_house_price type:", type(mean_house_price))

# Get output of `mean_house_price`
mean_house_price

mean_house_price type: <class 'float'>

62888.35399999999

In [10]:
# Declare variable `houses_columnwise`
houses_columnwise = {
    "price_approx_usd": [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
    "surface_covered_in_m2": [128.0, 210.0, 58.0, 79.0, 111.0],
    "rooms": [4.0, 3.0, 2.0, 3.0, 3.0],
}

# Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0]}

### Find the Mean by `houses_columnwise`

In [11]:
# Calculate `mean_house_price` using `houses_columnwise`
mean_house_price = sum(houses_columnwise["price_approx_usd"]) / len(houses_columnwise["price_approx_usd"])

# Print `mean_house_price` object type
print("mean_house_price type:", type(mean_house_price))

# Get output of `mean_house_price`
mean_house_price

mean_house_price type: <class 'float'>

62888.35399999999

In [16]:
price = houses_columnwise["price_approx_usd"]
area = houses_columnwise["surface_covered_in_m2"]
price_per_m2 = [p / a for p, a in zip(price, area)]

#for p, a in zip(price, area):
houses_columnwise["price_per_m2"] = price_per_m2
# # Print `houses_columnwise` object type
print("houses_columnwise type:", type(houses_columnwise))

# # Get output of `houses_columnwise`
houses_columnwise

houses_columnwise type: <class 'dict'>

{'price_approx_usd': [115910.26, 48718.17, 28977.56, 36932.27, 83903.51],
 'surface_covered_in_m2': [128.0, 210.0, 58.0, 79.0, 111.0],
 'rooms': [4.0, 3.0, 2.0, 3.0, 3.0],
 'price_per_m2': [905.54890625,
  231.9912857142857,
  499.61310344827587,
  467.4970886075949,
  755.8874774774774]}

### Create a Dataframe

In [17]:
# Import pandas library, aliased as `pd`
import pandas as pd

# Declare variable `df_houses`
df_houses = pd.DataFrame(houses_columnwise)

# Print `df_houses` object type
print("df_houses type:", type(df_houses))

# Print `df_houses` shape
print("df_houses shape:", df_houses.shape)

# Get output of `df_houses`
df_houses

df_houses type: <class 'pandas.core.frame.DataFrame'>
df_houses shape: (5, 4)

   price_approx_usd  surface_covered_in_m2  rooms  price_per_m2
0         115910.26                  128.0    4.0    905.548906
1          48718.17                  210.0    3.0    231.991286
2          28977.56                   58.0    2.0    499.613103
3          36932.27                   79.0    3.0    467.497089
4          83903.51                  111.0    3.0    755.887477