# Preparing Mexico Data

In [1]:
import pandas as pd

In [14]:
# Load CSV files into DataFrames
df1 = pd.read_csv("../data/mexico-real-estate-1.csv")
df2 = pd.read_csv("../data/mexico-real-estate-2.csv")
df3 = pd.read_csv("../data/mexico-real-estate-3.csv")

# Print object type and shape for DataFrames
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
print()
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
print()
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)

df1 type: <class 'pandas.core.frame.DataFrame'>
df1 shape: (700, 6)

df2 type: <class 'pandas.core.frame.DataFrame'>
df2 shape: (700, 6)

df3 type: <class 'pandas.core.frame.DataFrame'>
df3 shape: (700, 5)

### Clean df1
#### Inspect a DataFrame using the shape, info, and head in pandas.

In [16]:
# Print df1 shape
df1.shape

# Print df1 info
df1.info()

# Get output of df1 head
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  700 non-null    object
 1   state          700 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        700 non-null    int64
 5   price_usd      700 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 32.9+ KB

,property_type,state,lat,lon,area_m2,price_usd
0,house,Estado de M�xico,19.560181,-99.233528,150,"$67,965.56"
1,house,Nuevo Le�n,25.688436,-100.198807,186,"$63,223.78"
2,apartment,Guerrero,16.767704,-99.764383,82,"$84,298.37"
3,apartment,Guerrero,16.829782,-99.911012,150,"$94,308.80"
4,house,Veracruz de Ignacio de la Llave,NaN,NaN,175,"$94,835.67"

### Clean df1 by dropping rows with NaN values. Then remove the "$" and "," characters from "price_usd" and recast the values in the column as floats

#### DROP MISSING VALUES

In [18]:
# Drop missing values
df1.dropna(inplace=True)

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 0 to 699
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   property_type  583 non-null    object
 1   state          583 non-null    object
 2   lat            583 non-null    float64
 3   lon            583 non-null    float64
 4   area_m2        583 non-null    int64
 5   price_usd      583 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 31.9+ KB

#### WORK with price_usd column

In [31]:
df1["price_usd"] = (
    df1["price_usd"]
    .str.replace("$", "")
    .str.replace(",", "")
    .astype(float)
)

AttributeError: Can only use .str accessor with string values!