# Housing in Brazil

In [19]:
# Import Matplotlib, pandas, and plotly
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

## Task 1: Import the CSV file data/brasil-real-estate-1.csv into the DataFrame df1.

In [20]:
df1 = pd.read_csv("../data/brasil-real-estate-1.csv")
df1.head()

,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6443051,-35.7088142",110,"$187,230.85"
1,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.6430934,-35.70484",65,"$81,133.37"
2,house,|Brasil|Alagoas|Maceió|,Northeast,"-9.6227033,-35.7297953",211,"$154,465.45"
3,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.622837,-35.719556",99,"$146,013.20"
4,apartment,|Brasil|Alagoas|Maceió|,Northeast,"-9.654955,-35.700227",55,"$101,416.71"

# Before you move to the next task, take a moment to inspect df1 using the info and head methods. What issues do you see in the data? What cleaning will you need to do before you can conduct your analysis?

In [21]:
df1.info()
df1.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12834 entries, 0 to 12833
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            12834 non-null  object
 1   place_with_parent_names  12834 non-null  object
 2   region                   12834 non-null  object
 3   lat-lon                  11551 non-null  object
 4   area_m2                  12834 non-null  int64
 5   price_usd                12834 non-null  object
dtypes: int64(1), object(5)
memory usage: 601.7+ KB

(12834, 6)

 # Task 2 Drop all rows with NaN values from the DataFrame df1

In [23]:
df1.dropna(inplace=True)

In [24]:
df1.shape

(11551, 6)

# Task 3: Use the "lat-lon" column to create two separate columns in df1: "lat" and "lon". Make sure that the data type for these new columns is float.

In [30]:
df1[["lat", "lon"]] = df1["lat-lon"].str.split(",", expand=True).astype(float)

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11551 entries, 0 to 12833
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            11551 non-null  object
 1   place_with_parent_names  11551 non-null  object
 2   region                   11551 non-null  object
 3   lat-lon                  11551 non-null  object
 4   area_m2                  11551 non-null  int64
 5   price_usd                11551 non-null  object
 6   lat                      11551 non-null  float64
 7   lon                      11551 non-null  float64
dtypes: float64(2), int64(1), object(5)
memory usage: 812.2+ KB

# Task 1.5.4: Use the "place_with_parent_names" column to create a "state" column for df1. (Note that the state name always appears after "|Brasil|" in each string.)

In [35]:
df1["state"] = df1["place_with_parent_names"].str.split("|", expand=True)[2]

# Task 5: Transform the "price_usd" column of df1 so that all values are floating-point numbers instead of strings.

In [44]:
df1["price_usd"] = (
    df1["price_usd"]
    .str.replace("$", "")
    .str.replace(",", "")
    .astype(float)
)

AttributeError: Can only use .str accessor with string values!

# Task 6: Drop the "lat-lon" and "place_with_parent_names" columns from df1.

In [45]:
df1.drop(columns=["lat-lon", "place_with_parent_names"], inplace=True)

In [46]:
df1.head()

  property_type     region  area_m2  price_usd       lat        lon    state
0     apartment  Northeast      110  187230.85 -9.644305 -35.708814  Alagoas
1     apartment  Northeast       65   81133.37 -9.643093 -35.704840  Alagoas
2         house  Northeast      211  154465.45 -9.622703 -35.729795  Alagoas
3     apartment  Northeast       99  146013.20 -9.622837 -35.719556  Alagoas
4     apartment  Northeast       55  101416.71 -9.654955 -35.700227  Alagoas