# Location or Size: What Influences House Prices in Mexico?

In [1]:

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import "data/mexico-real-estate-clean.csv"
df = pd.read_csv("../data/mexico-real-estate-clean.csv")
# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

df type: <class 'pandas.core.frame.DataFrame'>
df shape: (1736, 6)

  property_type             state        lat         lon  area_m2  price_usd
0         house  Estado de M�xico  19.560181  -99.233528      150   67965.56
1         house        Nuevo Le�n  25.688436 -100.198807      186   63223.78
2     apartment          Guerrero  16.767704  -99.764383       82   84298.37
3     apartment          Guerrero  16.829782  -99.911012      150   94308.80
4         house           Yucat�n  21.052583  -89.538639      205  105191.37